.smallAnimalListContainer {
    display: flex;
    width: 40vw;
    height: 80vh;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    background: $lightSilver;
    h1 {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
}

.animalListContainer {
    width: 90vw;
    min-height: 90vh;
    display: flex;
    margin: 20px auto 0px auto;
    flex-wrap: wrap;
    justify-content: center;
    background: $lightSilver;
    h1 {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
}

%animal {
    @include flexBoxColumnCenter;
    background: #ffffff;
    border: 0.5px solid $mediumSilver;
    border-radius: 5px;
    color: #000000;
    h2 {
        margin: 10px auto;
    }
    img {
        border: 0.5px solid $mediumSilver;
    }
}

.animalContainer {
    @extend %animal;
    margin: 0px 10px;
}

.smallAnimalContainer {
    @extend %animal;
    width: 40%;
    margin: 20px;
    img {
        max-width: 150px;
    }
}

@media (max-width: 1100px) {
    .animalListContainer {
        margin-top: 50px;
    }

    .smallAnimalContainer {
        width: 35%;

        img {
            max-width: 75px;
        }
    }
}

@media (max-width: 500px) {
    .animalListContainer {
        margin-top: 20px;
        width: 90vw;
    }

    .smallAnimalListContainer {
        margin-top: 20px;
        width: 90vw;
        font-size: 14px;
        text-align: center;
    }

    .smallAnimalContainer {
        width: 40%;
        margin: 5px auto;
        img {
            max-width: 75px;
        }
    }
}
