.smallAnimalListContainer {
    position: relative;
    display: flex;
    width: 40vw;
    height: 80vh;
    margin-top: 8vh;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    background: $lightSilver;
    margin-bottom: 10px;
    h1 {
        margin-top: 20px;
        width: 100%;
        height: 22px;
        text-align: center;
        font-size: 20px;
    }
}

.animalListContainer {
    position: relative;
    width: 90vw;
    min-height: 90vh;
    display: flex;
    overflow: scroll;
    margin: 8vh auto 0px auto;
    flex-wrap: wrap;
    justify-content: center;
    background: $lightSilver;
    margin-bottom: 10px;
    h1 {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
}

%animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border: 0.5px solid $lightGray;
    color: #000000;

    h2 {
        margin: 10px auto;
    }

    p {
        margin: 7px 15px;
    }
    img {
        border: 0.5px solid $lightGray;
        margin: 20px;
        object-fit: cover;
    }

    a {
        color: $darkSilver;
    }

    button {
        border: none;
        align-self: center;
        margin: 15px auto;
        padding: 10px;
        background: $lightSilver;
        color: $darkSilver;
    }

    button:hover {
        background: $mediumSilver;
        color: $offWhite;
    }
}

.animalContainer {
    @extend %animal;
    margin: 10px 10px;
    width: 300px;
    position: relative;
    overflow: scroll;

    img {
        width: 200px;
        height: 200px;
    }
}

.smallAnimalContainer {
    @extend %animal;
    width: 200px;
    height: 300px;
    margin: 20px;
    img {
        width: 100px;
        height: 100px;
    }
}

.adoptDash {
    position: relative;
    min-height: 90vh;
    width: 90vw;
    background: $lightSilver;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8vh auto 0px auto;

    form {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: center;
        margin: 20px auto;

        input,
        select {
            margin: 0 10px;
            background: $offWhite;
            border: none;
        }
    }
}

@media (max-width: 1200px) {
    .animalListContainer {
    }

    .smallAnimalListContainer {
        width: 90vw;
    }

    .smallAnimalContainer {
        width: 40%;
        img {
            width: 150px;
            height: 150px;
        }
    }
}

.buttonContainer {
    width: 90vw;
    height: 10vh;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $lightSilver;

    button {
        background: $buttonBackground;
        padding: 20px;
        border: none;
        margin: 10px;
        font-size: 14px;
    }

    button:hover {
        background: $mediumSilver;
        color: $lightSilver;
    }
}

@media (max-width: 700px) {
    .adoptDash {
        form {
            flex-direction: column;
            align-items: center;
            height: 200px;

            input,
            select {
                margin-top: 5px;
            }
        }
    }
}

@media (max-width: 500px) {
    .animalListContainer {
        width: 90vw;
    }

    .smallAnimalListContainer {
        margin-top: 20px;

        font-size: 14px;
        text-align: center;
    }

    .smallAnimalContainer {
        width: 40vw;
        height: 200px;
        margin: 5px auto;
        img {
            width: 75px;
            height: 75px;
        }
    }
}
