.applicationDash {
    width: 90vw;
    min-height: 90vh;
    margin: 8vh auto 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: $lightSilver;

    button {
        background: $buttonBackground;
        padding: 20px;
        border: none;
        margin: 10px;
        font-size: 14px;
    }

    button:hover {
        background: $mediumSilver;
        color: $lightSilver;
    }

    h1 {
        margin: 10px;
        color: $darkSilver;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }

    form {
        margin: 20px;

        input {
            background: #ffffff;
            border: none;
            margin: 5px;
        }
    }
}

.applicationContainer {
    @include flexBoxColumnCenter;
    margin: 10px;
    background: #ffffff;
    width: 300px;
    height: 400px;
    padding: 10px;
    line-height: 25px;
    overflow: scroll;
    border: 0.5px solid $lightGray;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        object-fit: cover;
        width: 80px;
        height: 80px;
        margin-top: 10px;
    }

    button {
        background: $lightSilver;
    }
}

.apps {
    display: flex;
}

@media (max-width: 500px) {
    .applicationDash {
        min-height: 200vh;
    }
    .applicationContainer {
        width: 90vw;
        min-height: 350px;
        p {
            font-size: 14px;
        }
        img {
            width: 70px;
            height: 70px;
        }
    }
}
