.dashboard {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    top: 7vh;
    width: 100vw;
    height: 90vh;
    color: $darkSilver;

    .newsFeedPreview {
        .title {
            margin-top: 20px;
            width: 100%;
            text-align: center;
            font-size: 20px;
            color: $darkSilver;
        }
        display: flex;
        flex-direction: column;
        background: $lightSilver;
        width: 40vw;
        margin-top: 20px;
        height: 80vh;
        overflow: scroll;
        color: #000000;

        .previewPost {
            background: #ffffff;
            padding: 10px;
            border: 0.5px solid $lightGray;
            width: 80%;
            margin: 10px auto;
        }

        a {
            text-align: center;
            margin: 10px;
        }
    }
}

@media (max-width: 1000px) {
    .dashboard {
        flex-direction: column;
        align-items: center;
        min-height: 200vh;
        .newsFeedPreview {
            margin-top: 10px;
            width: 90vw;
            min-height: 100vh;
        }
    }
}

@media (max-width: 500px) {
    .dashboard {
        .newsFeedPreview {
            margin-top: 5px;
            font-size: 14px;
        }
    }
}
