.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    top: 7vh;
    width: 100vw;
    height: 90vh;
    color: $darkSilver;

    .newsFeedPreview {
        .title {
            margin-top: 20px;
            width: 100%;
            text-align: center;
            font-size: 20px;
            color: $darkSilver;
        }
        display: flex;
        flex-direction: column;
        background: $lightSilver;
        width: 40vw;
        margin-top: 20px;
        height: 80vh;
        overflow: scroll;
        color: #000000;

        .previewPost {
            background: #ffffff;
            padding: 20px;
            border: 0.5px solid $lightGray;
            width: 80%;
            margin: 10px auto;
        }

        a {
            text-align: center;
            margin: 10px;
        }

        p,
        h2 {
            margin-top: 5px;
            line-height: 20px;
        }
    }
}

.appPreview {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $lightSilver;
    width: 90vw;
    margin-top: 20px;
    height: 7vh;
    overflow: scroll;
    color: $darkSilver;

    .appCount {
        display: flex;
        align-items: center;
    }

    a {
        background: rgba(230, 0, 0, 0.7);
        color: #ffffff;
        margin: 0px 10px;
        font-size: 12px;
        padding: 5px 7px;
        border-radius: 50%;
    }
}

@media (max-width: 1000px) {
    .dashboard {
        flex-direction: column;
        align-items: center;
        min-height: 200vh;
        .newsFeedPreview {
            margin-top: 10px;
            width: 90vw;
            min-height: 100vh;
        }
    }
}

@media (max-width: 500px) {
    .dashboard {
        .newsFeedPreview {
            margin-top: 5px;
            font-size: 14px;
        }
    }
}
