.footer {
    width: 100vw;
    height: 50vh;
    background: $darkSilver;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

@media (max-width: 500px) {
    .footer {
        height: 30vh;
    }
}
