.footer {
    animation: fadeIn 3s;
    width: 100vw;
    height: 50vh;
    background: $darkSilver;
    position: relative;
    bottom: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.socialMedia {
    img {
        width: 50px;
        height: 50px;
        color: #ffffff;
        margin: 30px 40px;
    }
}

@media (max-width: 500px) {
    .footer {
        height: 30vh;
    }
    .socialMedia {
        img {
            margin: 30px 20px;
        }
    }
}
