.createNewAnimal {
    @include flexBoxColumnCenter;
    margin: 10px auto 0px auto;
    width: 90vw;
    height: 90vh;
    background: $lightSilver;
    color: $darkSilver;

    input,
    select {
        margin: 5px;
        background: #ffffff;
        border: none;
    }
}

.createBlogPost {
    @include flexBoxColumnCenter;
    width: 90vw;
    height: 90vh;
    background: $lightSilver;
    color: $darkSilver;
    textarea {
        width: 70vw;
        padding: 10px;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        line-height: 20px;
    }

    .titleContentInput {
        font-size: 18px;
    }

    .blogContentInput {
        height: 60vh;
        overflow: scroll;
    }
}

.editBlogPost {
    @include flexBoxColumnCenter;
    animation: fadeIn 0.5s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    color: $offWhite;
    background: $mediumSilver;

    button {
        color: $darkSilver;
    }

    form {
        @include flexBoxColumnCenter;
    }

    h3 {
        margin: 10px;
    }

    textarea {
        width: 70vw;
        margin: 0px auto;
        border: none;
    }

    .blogField {
        height: 200px;
    }
}

.editAnimal {
    @include flexBoxColumnCenter;
    animation: fadeIn 0.5s;
    background: $transparentDarkSilver;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    z-index: 5;

    form {
        @include flexBoxColumnCenter;

        input,
        select {
            height: 20px;
            font-size: 14px;
            background: $offWhite;
            border: none;
        }
    }
}

@media (max-width: 500px) {
    .createNewAnimal {
        height: 90vh;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
