.search {
    width: 90vw;
    margin: 20px auto 0px auto;
    padding: 20px 0;
    background: $lightSilver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin-bottom: 20px;
    }

    select,
    button {
        margin: 10px 10px;
        padding: 5px;
        background: $offWhite;
        border: none;
    }

    button:hover {
        background: $mediumSilver;
        color: $offWhite;
    }
}
.groupListContainer {
    width: 90vw;
    min-height: 90vh;
    display: flex;
    margin: 0px auto 0px auto;
    flex-wrap: wrap;
    justify-content: center;
    background: $lightSilver;

    h1 {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    .organization {
        @include flexBoxColumnCenter;
        background: #ffffff;
        height: 30vh;
        width: 20vw;
        border: 0.5px solid $lightGray;
        margin: 20px;
        color: #000000;
        line-height: 20px;
        overflow: scroll;
        h2,
        h1 {
            margin: 10px auto;
        }
        img {
            border: 0.5px solid $mediumSilver;
            max-width: 100px;
        }

        button {
            border: none;
            padding: 10px;
            background: $lightSilver;
        }

        button:hover {
            background: $darkSilver;
            color: $offWhite;
        }

        .orgApp {
            @include flexBoxColumnCenter;
            width: 20vw;
            height: 30vh;
            position: absolute;
            background: $darkSilver;
            color: #ffffff;
            z-index: 15;
            overflow: scroll;

            form {
                @include flexBoxColumnCenter;
            }
        }
    }
}

@media (max-width: 1200px) {
    .groupListContainer {
        .organization {
            width: 40vw;
            height: 40vh;
        }
    }
}

@media (max-width: 650px) {
    .groupListContainer {
        .organization {
            width: 80vw;
            height: 60vh;

            .title {
                font-size: 18px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}
