.headerContainer {
    width: 100vw;
    height: 7vh;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-around;
    z-index: 4;
    color: #ffffff;
    align-items: center;
}

@media (max-width: 500px) {
}
