.headerContainer {
    width: 100vw;
    height: 7vh;
    background: none;
    position: absolute;
    top: 0;
    display: flex;
    z-index: 4;
    color: $darkSilver;
    align-items: center;
    justify-content: space-between;

    .logo {
        justify-self: flex-start;
        margin-left: 40px;
        font-size: 24px;
        color: $darkSilver;
    }
}

.regularHeader {
    display: flex;

    .avatar {
        width: 15vw;
        justify-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        img {
            object-fit: cover;
            width: 45px;
            height: 45px;
            margin: 0 10px;
        }

        p {
            font-size: 12px;
        }
    }

    p:hover {
        font-weight: bold;
    }
}

.regularHeaderLinks {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;

    p {
        color: $darkSilver;
    }

    p:hover {
        color: $mediumSilver;
    }
}

.hamburgerHeader {
    display: none;
}

.dropDownMenu {
    display: none;
}

@media (max-width: 994px) {
    .regularHeader {
        display: none;
    }

    .hamburgerHeader {
        z-index: 4;
        display: flex;
        height: 7vh;
        width: 30vw;
        position: absolute;
        top: 0;
        right: 0;
        align-items: center;
        flex-direction: column;
        background-color: none;

        .burger {
            z-index: 12;
            align-self: flex-end;
            justify-self: flex-end;
            margin: 10px 30px;
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .line {
            width: 24px;
            height: 3px;
            background: $darkSilver;
            border-radius: 20px;
            margin: 2px auto;
        }

        p {
            margin: 15px 15px 0px auto;
        }
    }
    .dropDown {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: flex-end;
        animation: menuLower 0.7s;
        background: $transparentMedGray;
        color: $mainText;
        width: 30vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        img {
            margin-top: 50px;
        }

        .dropDownLinks {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        button {
            padding: 0;
            justify-self: flex-end;
            margin-top: 50px;
            color: $mainText;
        }

        p {
            margin-top: 50px;
            color: $mainText;
            width: 100%;
            text-align: right;
        }

        p:hover {
            color: $darkSilver;
        }
    }
}

@keyframes menuLower {
    from {
        transform: translateX(40px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
