.homepage {
    width: 100vw;
    height: 100vh;
    top: 0;
    // position: absolute;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/animal-foster-project.appspot.com/o/images%2Fadorable-animal-canine-1346086.jpg?alt=media&token=65a31dbb-f506-4d0e-951d-9426c62c40ba");
    background-size: cover;
    color: $mainText;

    .loginSignUpContainer {
        width: 80%;
        height: 100%;
        top: 0;
        margin: 0px auto;
        background: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    %home {
        width: 40vw;
        height: 30vh;
        color: $mainText;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeMain {
        @extend %home;
    }

    .loginSignUp {
        @extend %home;
        background: rgba(255, 255, 255, 0.15);
        width: 30vw;
        height: 50vh;
        animation: fadeIn 1s;

        button {
            font-size: 20px;
        }

        .submit {
            color: $mainText;
        }
    }

    h1 {
        font-size: 60px;
        margin: 20px auto;
        animation: fadeIn 2s;
    }

    h3 {
        font-size: 36px;
        margin: 20px auto;
        animation: fadeIn 3s;
    }

    .loginSignUpBtns {
        display: flex;
        animation: fadeIn 3s;
    }

    button {
        border: none;
        font-size: 16px;
        background: $buttonBackground;
        margin: 0px 20px;
        padding: 10px;
        border-radius: 5px;
        color: $mainText;
    }

    button:hover {
        background: $mediumSilver;
        transition: 0.2s;
    }

    .loginSignUpForms {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    input {
        background: $buttonBackground;
        border: 0.1px solid $buttonBackground;
        margin: 10px;
    }
}

.italic {
    font-style: italic;
    letter-spacing: -1px;
}

.bold {
    font-weight: 800;
}

@media (max-width: 967px) {
    .loginSignUpContainer {
        justify-content: center;
        .loginSignUp {
            width: 40vw;
            button {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 600px) {
    .homepage {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/animal-foster-project.appspot.com/o/images%2Fadorable-animal-cat-804475.jpg?alt=media&token=67cd8d9b-1982-4568-91c9-8693d82b02d7");
        background-size: cover;

        .loginSignUpContainer {
            width: 100%;
            justify-content: center;

            .loginSignUp {
                width: 80vw;
                height: 70vh;
                button {
                    font-size: 12px;
                }
                form {
                    font-size: 14px;
                    width: 90%;
                    margin: 0px auto;
                }
            }
            h1 {
                font-size: 45px;
            }

            h3 {
                font-size: 24px;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
