%newsFeed {
    width: 90vw;
    min-height: 90vh;
    background: $lightSilver;
    margin: 20px auto 0px auto;
    padding: 20px;
}

.userNewsFeed {
    @extend %newsFeed;
}

.orgBlog {
    @extend %newsFeed;
}

.blogPost {
    width: 80vw;
    margin: 20px auto;
    padding: 15px;
    background: #ffffff;
    border: 0.5px solid $lightGray;
    color: #000000;
    white-space: pre-wrap;

    h1 {
        font-weight: bold;
        font-size: 18px;
        margin: 10px auto;
    }
    h2 {
        margin: 10px auto;
    }
    img {
        border: 0.5px solid $mediumSilver;
    }

    p {
        margin: 5px;
    }

    button {
        margin: 10px;
        background: $lightSilver;
        border: none;
        padding: 10px;
    }

    button:hover {
        background: $mediumSilver;
        color: $lightSilver;
    }
}
