.profileContainer {
    width: 90vw;
    min-height: 40vh;
    background: $lightSilver;
    margin: 8vh auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img {
        object-fit: cover;
        width: 200px;
        height: 200px;
    }

    button {
        border: none;
        align-self: center;
        margin: 15px auto;
        padding: 10px;
        background: $lightGray;
        color: $darkSilver;
    }

    button:hover {
        background: $mediumSilver;
        color: $offWhite;
    }

    form {
        @include flexBoxColumnCenter;
    }
}

.profileContent {
    @include flexBoxColumnCenter;
    margin: 15px;
    width: 30vw;

    h2,
    h1,
    h3 {
        margin-top: 10px;
    }
}

.bio {
    @include flexBoxColumnCenter;
    width: 30vw;
    margin: 15px 0;
    h1,
    h2,
    h3 {
        margin-top: 10px;
    }
}

.editProfile {
    color: $offWhite;
    animation: menuLower 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $transparentMedGray;
    width: 60vw;
    height: 40vh;
    z-index: 15;
    position: absolute;
    right: 0;
    form {
        margin: 10px;
    }

    button {
        margin: 10px 0;
    }

    .imageUpload {
        margin: 0px 20px;
    }

    input,
    textarea {
        background: $lightSilver;
        border: none;
        margin: 10px;
        width: 200px;
    }

    .bioEdit {
        text-overflow: ellipsis;
        height: 80px;
    }
}

@media (max-width: 970px) {
    .editProfile {
        width: 90vw;
    }
}

@media (max-width: 670px) {
    .profileContainer {
        @include flexBoxColumnCenter;
        line-height: 20px;

        img {
            width: 150px;
            height: 150px;
        }
    }
    .profileContent,
    .bio {
        width: 80vw;
    }

    .editProfile {
        height: 80vh;
        top: 7vh;
        flex-wrap: wrap;
    }
}

@media (max-width: 400px) {
    .editProfile {
        height: 100vh;
        flex-direction: column;
        img {
            width: 50px;
            height: 50px;
        }
    }
}

@keyframes menuLower {
    from {
        transform: translateX(40px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
