// Colors

//Main color theme
$darkSilver: #847577;
$mediumSilver: #a6a2a2;
$lightGray: #cfd2cd;
$lightSilver: #e5e6e4;
$offWhite: #fbfbf2;

//Other Colors
$mainText: #ffffff;
$buttonBackground: rgba(255, 255, 255, 0.2);
$transparentMedGray: rgba(166, 162, 162, 0.9);
$transparentMedSilver: rgba(166, 162, 162, 0.5);
$transparentDarkSilver: rgba(132, 117, 119, 0.9);
