/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.homepage {
  width: 100vw;
  height: 100vh;
  top: 0;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/animal-foster-project.appspot.com/o/images%2Fadorable-animal-canine-1346086.jpg?alt=media&token=65a31dbb-f506-4d0e-951d-9426c62c40ba");
  background-size: cover;
  color: #ffffff;
}

.homepage .loginSignUpContainer {
  width: 80%;
  height: 100%;
  top: 0;
  margin: 0px auto;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .homeMain, .homepage .loginSignUp {
  width: 40vw;
  height: 30vh;
  color: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .loginSignUp {
  background: rgba(255, 255, 255, 0.15);
  width: 30vw;
  height: 50vh;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.homepage .loginSignUp button {
  font-size: 20px;
}

.homepage .loginSignUp .submit {
  color: #ffffff;
}

.homepage h1 {
  font-size: 60px;
  margin: 20px auto;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.homepage h3 {
  font-size: 36px;
  margin: 20px auto;
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}

.homepage .loginSignUpBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
}

.homepage button {
  border: none;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0px 20px;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
}

.homepage .loginSignUpForms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.homepage input {
  background: rgba(255, 255, 255, 0.2);
  border: 0.1px solid rgba(255, 255, 255, 0.2);
  margin: 10px;
}

.italic {
  font-style: italic;
  letter-spacing: -1px;
}

.bold {
  font-weight: 800;
}

@media (max-width: 967px) {
  .loginSignUpContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .loginSignUpContainer .loginSignUp {
    width: 40vw;
  }
  .loginSignUpContainer .loginSignUp button {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .homepage {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/animal-foster-project.appspot.com/o/images%2Fadorable-animal-cat-804475.jpg?alt=media&token=67cd8d9b-1982-4568-91c9-8693d82b02d7");
    background-size: cover;
  }
  .homepage .loginSignUpContainer {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homepage .loginSignUpContainer .loginSignUp {
    width: 80vw;
    height: 70vh;
  }
  .homepage .loginSignUpContainer .loginSignUp button {
    font-size: 12px;
  }
  .homepage .loginSignUpContainer .loginSignUp form {
    font-size: 14px;
    width: 90%;
    margin: 0px auto;
  }
  .homepage .loginSignUpContainer h1 {
    font-size: 45px;
  }
  .homepage .loginSignUpContainer h3 {
    font-size: 24px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.headerContainer {
  width: 100vw;
  height: 7vh;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
  color: #847577;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerContainer .logo {
  justify-self: flex-start;
  margin-left: 40px;
}

.regularHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.regularHeader .avatar {
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.regularHeader .avatar img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.regularHeader .avatar button {
  background: none;
  border: none;
}

.regularHeaderLinks {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hamburgerHeader {
  display: none;
}

.dropDownMenu {
  display: none;
}

@media (max-width: 700px) {
  .regularHeader {
    display: none;
  }
  .hamburgerHeader {
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70vh;
    width: 30vw;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: none;
  }
  .hamburgerHeader .burger {
    z-index: 12;
    -ms-flex-item-align: end;
        align-self: flex-end;
    justify-self: flex-end;
    margin: 10px 30px;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hamburgerHeader .line {
    width: 24px;
    height: 3px;
    background: #847577;
    border-radius: 20px;
    margin: 2px auto;
  }
  .hamburgerHeader p {
    margin: 15px 15px 0px auto;
  }
  .dropDown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-animation: menuLower 0.7s;
            animation: menuLower 0.7s;
    background: rgba(166, 162, 162, 0.8);
    color: #ffffff;
    width: 30vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }
  .dropDown img {
    margin-top: 50px;
  }
  .dropDown .dropDownLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .dropDown button {
    padding: 0;
    justify-self: flex-end;
    margin-top: 50px;
    color: #ffffff;
  }
  .dropDown p {
    margin-top: 50px;
    color: #ffffff;
    width: 100%;
    text-align: right;
  }
}

@-webkit-keyframes menuLower {
  from {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menuLower {
  from {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.footer {
  width: 100vw;
  height: 50vh;
  background: #847577;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.socialMedia img {
  width: 50px;
  height: 50px;
  color: #ffffff;
  margin: 30px 40px;
}

@media (max-width: 500px) {
  .footer {
    height: 30vh;
  }
  img {
    margin: 30px 20px;
  }
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 7vh;
  width: 100vw;
  height: 90vh;
  color: #847577;
}

.dashboard .title {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #847577;
}

.dashboard .newsFeedPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e5e6e4;
  width: 40vw;
  margin-top: 20px;
  height: 80vh;
  overflow: scroll;
  color: #000000;
}

.dashboard .newsFeedPreview .previewPost {
  background: #ffffff;
  padding: 10px;
  border: 0.5px solid #a6a2a2;
  width: 80%;
  margin: 10px auto;
}

@media (max-width: 1000px) {
  .newsFeedPreview {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .dashboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 200vh;
  }
  .dashboard .newsFeedPreview {
    margin-top: 5px;
    font-size: 14px;
    width: 90vw;
    min-height: 100vh;
  }
}

.smallAnimalListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  height: 80vh;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: scroll;
  background: #e5e6e4;
}

.smallAnimalListContainer h1 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.animalListContainer {
  width: 90vw;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto 0px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e5e6e4;
}

.animalListContainer h1 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.animalContainer, .smallAnimalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border: 0.5px solid #a6a2a2;
  border-radius: 5px;
  color: #000000;
}

.animalContainer h2, .smallAnimalContainer h2 {
  margin: 10px auto;
}

.animalContainer img, .smallAnimalContainer img {
  border: 0.5px solid #a6a2a2;
}

.animalContainer {
  margin: 10px 10px;
  width: 300px;
  height: 500px;
  overflow: scroll;
}

.animalContainer img {
  max-width: 200px;
}

.smallAnimalContainer {
  width: 40%;
  margin: 20px;
}

.smallAnimalContainer img {
  max-width: 150px;
}

.adoptDash {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adoptDash form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
}

@media (max-width: 1100px) {
  .animalListContainer {
    margin-top: 50px;
  }
  .smallAnimalContainer {
    width: 80%;
  }
  .smallAnimalContainer img {
    max-width: 75px;
  }
}

@media (max-width: 500px) {
  .animalListContainer {
    margin-top: 20px;
    width: 90vw;
  }
  .smallAnimalListContainer {
    margin-top: 20px;
    width: 90vw;
    font-size: 14px;
    text-align: center;
  }
  .smallAnimalContainer {
    width: 40%;
    margin: 5px auto;
  }
  .smallAnimalContainer img {
    max-width: 75px;
  }
}

.userNewsFeed, .orgBlog {
  width: 90vw;
  min-height: 90vh;
  background: #e5e6e4;
  margin: 20px auto 0px auto;
  padding: 20px;
}

.blogPost {
  width: 90%;
  margin: 20px auto;
  padding: 15px;
  background: #ffffff;
  border: 0.5px solid #a6a2a2;
  color: #000000;
}

.blogPost h2 {
  margin: 10px auto;
}

.blogPost img {
  border: 0.5px solid #a6a2a2;
}

.groupListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  min-height: 90vh;
  display: flex;
  margin: 80px auto 0px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: center;
  background: #e5e6e4;
}

.groupListContainer h1 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.groupListContainer .organization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  height: 30vh;
  width: 40%;
  border: 0.5px solid #a6a2a2;
  margin: 20px auto;
  color: #000000;
}

.groupListContainer .organization h2 {
  margin: 10px auto;
}

.groupListContainer .organization img {
  border: 0.5px solid #a6a2a2;
}

.applicationDash {
  min-height: 90vh;
}

button {
  cursor: pointer;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */