@import "reset";
@import "variables";
@import "mixins";
@import "home";
@import "header";
@import "footer";
@import "dashboard";
@import "animalContainer";
@import "newsFeed";
@import "groupContainer";
@import "applications";
@import "profile";

button {
    cursor: pointer;
}

button:hover {
    transition: 0.2s;
}

.App {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
}
