@import "reset";
@import "variables";
@import "mixins";
@import "home";
@import "header";
@import "footer";
@import "dashboard";
@import "animalContainer";
@import "newsFeed";
@import "groupContainer";

button {
    cursor: pointer;
}

.App {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
}

// $darkSilver: #847577;
// $mediumSilver: #a6a2a2;
// $lightGray: #cfd2cd;
// $lightSilver: #e5e6e4;
// $offWhite: #fbfbf2;
