/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.homepage {
  width: 100vw;
  height: 100vh;
  top: 0;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/animal-foster-project.appspot.com/o/images%2Fadorable-animal-canine-1346086.jpg?alt=media&token=65a31dbb-f506-4d0e-951d-9426c62c40ba");
  background-size: cover;
  color: #ffffff;
}

.homepage .imageUpload input,
.homepage .imageUpload button {
  background: rgba(255, 255, 255, 0.2);
}

.homepage button {
  border: none;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0px 20px;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
}

.homepage button:hover {
  background: #a6a2a2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.homepage .loginSignUpContainer {
  width: 80%;
  height: 100%;
  top: 0;
  margin: 0px auto;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .homeMain, .homepage .loginSignUp {
  width: 40vw;
  height: 30vh;
  color: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .loginSignUp {
  background: rgba(255, 255, 255, 0.15);
  width: 30vw;
  height: 60vh;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.homepage .loginSignUp button {
  font-size: 20px;
}

.homepage .loginSignUp .submit {
  color: #ffffff;
}

.homepage h1 {
  font-size: 60px;
  margin: 20px auto;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.homepage h3 {
  font-size: 36px;
  margin: 20px auto;
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}

.homepage .loginSignUpBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}

.homepage .loginSignUpForms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.homepage input,
.homepage select {
  background: rgba(255, 255, 255, 0.2);
  border: 0.1px solid rgba(255, 255, 255, 0.2);
  margin: 10px;
}

.imageUpload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imageUpload input,
.imageUpload button {
  background: #ffffff;
  border: none;
  margin: 10px;
  padding: 5px;
  color: #847577;
}

.imageUpload button:hover {
  background: #a6a2a2;
  color: #fbfbf2;
}

.italic {
  font-style: italic;
  letter-spacing: -1px;
}

.bold {
  font-weight: 800;
}

@media (max-width: 967px) {
  .loginSignUpContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .loginSignUpContainer .loginSignUp {
    width: 40vw;
  }
  .loginSignUpContainer .loginSignUp button {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .homepage {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/animal-foster-project.appspot.com/o/images%2Fadorable-animal-cat-804475.jpg?alt=media&token=67cd8d9b-1982-4568-91c9-8693d82b02d7");
    background-size: cover;
  }
  .homepage .loginSignUpContainer {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homepage .loginSignUpContainer .loginSignUp {
    width: 90vw;
    height: 90vh;
  }
  .homepage .loginSignUpContainer .loginSignUp button {
    font-size: 12px;
  }
  .homepage .loginSignUpContainer .loginSignUp form {
    font-size: 14px;
    width: 90%;
    margin: 0px auto;
  }
  .homepage .loginSignUpContainer h1 {
    font-size: 45px;
  }
  .homepage .loginSignUpContainer h3 {
    font-size: 24px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.headerContainer {
  width: 100vw;
  height: 7vh;
  background: #a6a2a2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
  color: #847577;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerContainer .logo {
  justify-self: flex-start;
  margin-left: 40px;
  font-size: 24px;
  color: #fbfbf2;
}

.regularHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.regularHeader .avatar {
  width: 15vw;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.regularHeader .avatar img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.regularHeader .avatar p {
  font-size: 12px;
}

.regularHeader p:hover {
  color: #fbfbf2;
}

.regularHeaderLinks {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: bold;
}

.hamburgerHeader {
  display: none;
}

.dropDownMenu {
  display: none;
}

@media (max-width: 994px) {
  .regularHeader {
    display: none;
  }
  .hamburgerHeader {
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70vh;
    width: 30vw;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: none;
  }
  .hamburgerHeader .burger {
    z-index: 12;
    -ms-flex-item-align: end;
        align-self: flex-end;
    justify-self: flex-end;
    margin: 10px 30px;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hamburgerHeader .line {
    width: 24px;
    height: 3px;
    background: #847577;
    border-radius: 20px;
    margin: 2px auto;
  }
  .hamburgerHeader p {
    margin: 15px 15px 0px auto;
  }
  .dropDown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-animation: menuLower 0.7s;
            animation: menuLower 0.7s;
    background: rgba(166, 162, 162, 0.8);
    color: #ffffff;
    width: 30vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }
  .dropDown img {
    margin-top: 50px;
  }
  .dropDown .dropDownLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .dropDown button {
    padding: 0;
    justify-self: flex-end;
    margin-top: 50px;
    color: #ffffff;
  }
  .dropDown p {
    margin-top: 50px;
    color: #ffffff;
    width: 100%;
    text-align: right;
  }
  .dropDown p:hover {
    color: #847577;
  }
}

@-webkit-keyframes menuLower {
  from {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menuLower {
  from {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.footer {
  width: 100vw;
  height: 50vh;
  background: #847577;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.socialMedia img {
  width: 50px;
  height: 50px;
  color: #ffffff;
  margin: 30px 40px;
}

@media (max-width: 500px) {
  .footer {
    height: 30vh;
  }
  .socialMedia img {
    margin: 30px 20px;
  }
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 7vh;
  width: 100vw;
  height: 90vh;
  color: #847577;
}

.dashboard .newsFeedPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #e5e6e4;
  width: 40vw;
  margin-top: 20px;
  height: 80vh;
  overflow: scroll;
  color: #000000;
  white-space: pre-wrap;
}

.dashboard .newsFeedPreview .title {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #847577;
}

.dashboard .newsFeedPreview .previewPost {
  background: #ffffff;
  padding: 20px;
  border: 0.5px solid #cfd2cd;
  width: 80%;
  margin: 10px auto;
}

.dashboard .newsFeedPreview a {
  text-align: center;
  margin: 10px;
}

.dashboard .newsFeedPreview h1 {
  font-size: 20px;
  margin: 10px 0;
}

.dashboard .newsFeedPreview p,
.dashboard .newsFeedPreview h2 {
  margin-top: 5px;
  line-height: 20px;
}

.appPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e5e6e4;
  width: 90vw;
  margin-top: 20px;
  height: 7vh;
  overflow: scroll;
  color: #847577;
}

.appPreview .appCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appPreview a {
  background: rgba(230, 0, 0, 0.7);
  color: #ffffff;
  margin: 0px 10px;
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .dashboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 200vh;
  }
  .dashboard .newsFeedPreview {
    margin-top: 10px;
    width: 90vw;
    min-height: 100vh;
  }
}

@media (max-width: 500px) {
  .dashboard .newsFeedPreview {
    margin-top: 5px;
    font-size: 14px;
  }
}

.smallAnimalListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  height: 80vh;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: scroll;
  background: #e5e6e4;
  margin-bottom: 10px;
}

.smallAnimalListContainer h1 {
  margin-top: 20px;
  width: 100%;
  height: 22px;
  text-align: center;
  font-size: 20px;
}

.animalListContainer {
  width: 90vw;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  margin: 20px auto 0px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e5e6e4;
  margin-bottom: 10px;
}

.animalListContainer h1 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.animalContainer, .smallAnimalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border: 0.5px solid #cfd2cd;
  color: #000000;
}

.animalContainer h2, .smallAnimalContainer h2 {
  margin: 10px auto;
}

.animalContainer p, .smallAnimalContainer p {
  margin: 7px 15px;
}

.animalContainer img, .smallAnimalContainer img {
  border: 0.5px solid #cfd2cd;
  margin: 20px;
}

.animalContainer a, .smallAnimalContainer a {
  color: #847577;
}

.animalContainer button, .smallAnimalContainer button {
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 15px auto;
  padding: 10px;
  background: #e5e6e4;
  color: #847577;
}

.animalContainer button:hover, .smallAnimalContainer button:hover {
  background: #a6a2a2;
  color: #fbfbf2;
}

.animalContainer {
  margin: 10px 10px;
  width: 300px;
  overflow: scroll;
}

.animalContainer img {
  max-width: 200px;
}

.smallAnimalContainer {
  width: 200px;
  height: 300px;
  margin: 20px;
}

.smallAnimalContainer img {
  max-width: 100px;
}

.adoptDash {
  min-height: 90vh;
  width: 90vw;
  background: #e5e6e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto 0px auto;
}

.adoptDash form {
  width: 100%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
}

.adoptDash form input,
.adoptDash form select {
  margin: 0 10px;
  background: #fbfbf2;
  border: none;
}

@media (max-width: 1100px) {
  .animalListContainer {
    margin-top: 50px;
  }
  .smallAnimalListContainer {
    width: 90vw;
  }
  .smallAnimalContainer {
    width: 40%;
  }
  .smallAnimalContainer img {
    max-width: 150px;
  }
}

.buttonContainer {
  width: 90vw;
  height: 10vh;
  margin: 20px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e5e6e4;
}

.buttonContainer button {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border: none;
  margin: 10px;
  font-size: 14px;
}

.buttonContainer button:hover {
  background: #a6a2a2;
  color: #e5e6e4;
}

@media (max-width: 700px) {
  .adoptDash form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 200px;
  }
  .adoptDash form input,
  .adoptDash form select {
    margin-top: 5px;
  }
}

@media (max-width: 500px) {
  .animalListContainer {
    margin-top: 20px;
    width: 90vw;
  }
  .smallAnimalListContainer {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
  }
  .smallAnimalContainer {
    width: 80vw;
    height: 225px;
    margin: 5px auto;
  }
  .smallAnimalContainer img {
    max-width: 75px;
  }
}

.userNewsFeed, .orgBlog {
  width: 90vw;
  min-height: 90vh;
  background: #e5e6e4;
  margin: 20px auto 0px auto;
  padding: 20px;
}

.userNewsFeed .title {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #847577;
  font-weight: bold;
}

.blogPost {
  width: 80vw;
  margin: 20px auto;
  padding: 15px;
  background: #ffffff;
  border: 0.5px solid #cfd2cd;
  color: #000000;
  white-space: pre-wrap;
}

.blogPost h1 {
  font-weight: bold;
  font-size: 18px;
  margin: 10px auto;
}

.blogPost h2 {
  margin: 10px auto;
}

.blogPost img {
  border: 0.5px solid #a6a2a2;
}

.blogPost p {
  margin: 5px;
}

.blogPost button {
  margin: 10px;
  background: #e5e6e4;
  border: none;
  padding: 10px;
}

.blogPost button:hover {
  background: #a6a2a2;
  color: #e5e6e4;
}

.search {
  width: 90vw;
  margin: 20px auto 0px auto;
  padding: 20px 0;
  background: #e5e6e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search h1 {
  margin-bottom: 20px;
}

.search select,
.search button {
  margin: 10px 10px;
  padding: 5px;
  background: #fbfbf2;
  border: none;
}

.search button:hover {
  background: #a6a2a2;
  color: #fbfbf2;
}

.groupListContainer {
  width: 90vw;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto 0px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e5e6e4;
}

.groupListContainer h1 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.groupListContainer .organization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  height: 30vh;
  width: 20vw;
  border: 0.5px solid #cfd2cd;
  margin: 20px;
  color: #000000;
  line-height: 20px;
  overflow: scroll;
}

.groupListContainer .organization h2,
.groupListContainer .organization h1 {
  margin: 10px auto;
}

.groupListContainer .organization img {
  border: 0.5px solid #a6a2a2;
  max-width: 100px;
}

.groupListContainer .organization button {
  border: none;
  padding: 10px;
  background: #e5e6e4;
}

.groupListContainer .organization button:hover {
  background: #847577;
  color: #fbfbf2;
}

.groupListContainer .organization .orgApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20vw;
  height: 30vh;
  position: absolute;
  background: #847577;
  color: #ffffff;
  z-index: 15;
  overflow: scroll;
}

.groupListContainer .organization .orgApp form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .groupListContainer .organization {
    width: 40vw;
    height: 40vh;
  }
}

@media (max-width: 650px) {
  .groupListContainer .organization {
    width: 80vw;
    height: 60vh;
  }
  .groupListContainer .organization .title {
    font-size: 18px;
  }
  .groupListContainer .organization p {
    font-size: 14px;
  }
}

.applicationDash {
  width: 90vw;
  min-height: 90vh;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e5e6e4;
}

.applicationDash button {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border: none;
  margin: 10px;
  font-size: 14px;
}

.applicationDash button:hover {
  background: #a6a2a2;
  color: #e5e6e4;
}

.applicationDash h1 {
  margin: 10px;
  color: #847577;
  font-weight: bold;
  font-size: 18px;
}

.applicationDash form {
  margin: 20px;
}

.applicationDash form input {
  background: #ffffff;
  border: none;
  margin: 5px;
}

.applicationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  width: 300px;
  height: 400px;
  padding: 10px;
  line-height: 25px;
  overflow: scroll;
  border: 0.5px solid #cfd2cd;
}

.applicationContainer img {
  margin-top: 10px;
}

.applicationContainer button {
  background: #e5e6e4;
}

@media (max-width: 500px) {
  .applicationDash {
    min-height: 200vh;
  }
  .applicationContainer {
    width: 250px;
    height: 300px;
  }
  .applicationContainer p {
    font-size: 14px;
  }
  .applicationContainer img {
    width: 70px;
    height: 70px;
  }
}

.profileContainer {
  width: 90vw;
  min-height: 40vh;
  background: #e5e6e4;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profileContainer img {
  width: 200px;
  height: 200px;
}

.profileContainer button {
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 15px auto;
  padding: 10px;
  background: #cfd2cd;
  color: #847577;
}

.profileContainer button:hover {
  background: #a6a2a2;
  color: #fbfbf2;
}

.profileContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  width: 30vw;
}

.profileContent h2,
.profileContent h1,
.profileContent h3 {
  margin-top: 10px;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30vw;
  margin: 15px 0;
}

.bio h2,
.bio h1,
.bio h3 {
  margin-top: 10px;
}

.editProfile {
  -webkit-animation: menuLower 1s;
          animation: menuLower 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(166, 162, 162, 0.8);
  width: 40vw;
  height: 40vh;
  z-index: 15;
  position: absolute;
  right: 0;
}

.editProfile input {
  background: #e5e6e4;
  border: none;
  margin: 10px;
}

@media (max-width: 600px) {
  .profileContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 20px;
  }
  .profileContainer img {
    width: 150px;
    height: 150px;
  }
  .profileContent,
  .bio {
    width: 80vw;
  }
  .editProfile {
    width: 90vw;
    height: 70vh;
    top: 7vh;
  }
}

@keyframes menuLower {
  from {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.createNewAnimal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto 0px auto;
  width: 90vw;
  height: 60vh;
  background: #e5e6e4;
  color: #847577;
}

.createNewAnimal input,
.createNewAnimal select {
  margin: 5px;
  background: #ffffff;
  border: none;
}

.createBlogPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  height: 90vh;
  background: #e5e6e4;
  color: #847577;
}

.createBlogPost textarea {
  width: 70vw;
  padding: 10px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
}

.createBlogPost .titleContentInput {
  font-size: 18px;
}

.createBlogPost .blogContentInput {
  height: 60vh;
  overflow: scroll;
}

.editBlogPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  position: relative;
  z-index: 5;
  color: #fbfbf2;
  background: #a6a2a2;
}

.editBlogPost button {
  color: #847577;
}

.editBlogPost form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editBlogPost h3 {
  margin: 10px;
}

.editBlogPost textarea {
  width: 70vw;
  margin: 0px auto;
  border: none;
}

.editBlogPost .blogField {
  height: 200px;
}

@media (max-width: 500px) {
  .createNewAnimal {
    height: 90vh;
  }
}

button {
  cursor: pointer;
}

button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
}

.title {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #847577;
  font-weight: bold;
}
/*# sourceMappingURL=index.css.map */