@import "reset";
@import "variables";
@import "mixins";
@import "home";
@import "header";
@import "footer";
@import "dashboard";
@import "animalContainer";
@import "newsFeed";
@import "groupContainer";
@import "applications";
@import "profile";
@import "forms";
button {
    cursor: pointer;
}

button:hover {
    transition: 0.2s;
}

.App {
    display: flex;
    flex-direction: column;
    position: relative;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
}

.title {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: $darkSilver;
    font-weight: bold;
}
